<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- nav header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">Landing Page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item px-2">
                    <a class="nav-link" href="/users/d/dashboard">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item dropdown px-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Books
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users/d/books/create">Create</a>
                        <a class="dropdown-item" href="/users/d/books/all">All Books</a>
                    </div>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item px-2">
                    <form action="/" method="post">
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="space" style="height: 60px;"></div>

    <!-- page content -->

    <div class="container mt-5">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>Book Details</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>ID:</strong> <%=data._id%></li>
                    <li class="list-group-item"><strong>Title:</strong> <%=data.title%></li>
                    <li class="list-group-item"><strong>Description:</strong> <%=data.description%></li>
                    <li class="list-group-item"><strong>Page Count:</strong> <%=data.pageCount%></li>
                    <li class="list-group-item"><strong>Genre:</strong> <%= data.genre %></li>
                    <li class="list-group-item"><strong>Publisher:</strong> <%= data.publisher%></li>
                    <li class="list-group-item"><strong>Author:</strong> <%=author %></li>
                </ul>
            </div>
            <div class="d-flex flex-column flex-lg-row col-md-8 text-center">
                <a href="/users/d/books/<%=data._id%>/update" class="btn btn-primary mx-3 my-2">Update</a>
                <form method="post" class="mx-3 my-2" action="/users/d/books/<%=data._id%>/delete">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>

    <!-- end of page content  -->
        <div class="space" style="height: 60px;"></div>
        <!-- footer  -->
        <footer class="text-center fixed-bottom bg-light">
            <hr>
            <p>&copy; 2023 Your Company. All rights reserved.</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
